
// @font-face {
//   font-family: 'iconfont';  /* project id 1226877 */
//   src: url('//at.alicdn.com/t/font_1226877_cklx5k1y75n.eot');
//   src: url('//at.alicdn.com/t/font_1226877_cklx5k1y75n.eot?#iefix') format('embedded-opentype'),
//   url('//at.alicdn.com/t/font_1226877_cklx5k1y75n.woff2') format('woff2'),
//   url('//at.alicdn.com/t/font_1226877_cklx5k1y75n.woff') format('woff'),
//   url('//at.alicdn.com/t/font_1226877_cklx5k1y75n.ttf') format('truetype'),
//   url('//at.alicdn.com/t/font_1226877_cklx5k1y75n.svg#iconfont') format('svg');
// }

// .iconfont {
//   font-family: 'iconfont' !important;
//   font-size: 16px;
//   font-style: normal;
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
// }
// .fa {
//   display: inline-block;
//   /* 以下的 font 与上面 @font-face 的 font-family 要一致*/
//   font: normal normal normal 14px/1 FontAwesome;
//   font-size: inherit;
//   text-rendering: auto;
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
// }
// .fa-clock:before {
//   content: "\f00c";
// }

@font-face {
  font-family:"iconfont";
  src: url('//at.alicdn.com/t/font_1226877_cklx5k1y75n.eot?t=1559618831404');
  /* IE9 */
  src: url('//at.alicdn.com/t/font_1226877_cklx5k1y75n.eot?t=1559618831404#iefix') format('embedded-opentype'),
  /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAJoAAsAAAAABjAAAAIcAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAo4VwE2AiQDCAsGAAQgBYRtBzIbfwUR1Yszsp8Htlu0pXFXKznfRpQa+ckoNCW95wiqtX97dvcu9wlVkBQSqMgoYJUYGxUh46k8SyT9mvniiOPmZugaFaFYkvPgf/mOdGxCfgWAAZfTn0APsjqg3PaksSaPCRhYGuBeGEVWQhk3jF3wAh8TaDfaTLFm3ZY9GoW9KhBXLp4/qSlEFIXlG6FuOFjEI5UmPUjwMPp+fDUrGpIqs5t2nFt7xooPOUX5euv6kYAQJaDjFTJmohB7GjPbZMG4rD1TjOdY9cGHWq3ALY7qEOyvs2s7wUiofCaVd0SABEoy2YmhSVtIdX16X/vZ8+372/dEJa2PfMCuWL8/PjmvFeDP8lA6IRB0P1v463jPkv9NRwGvVvdgezHMR7O+N/gPqoEDxdDYrlQ0VaMv6Zy0MqFdO1o40O/9VOvQSQuhMXRq3wijMmSNiWRhZ6LSYQ5qjeVoN8P64x0GXJVFacN0dwBCrydIuj1F1uslWdh3qAz7jlpvZLTbFwMXdpgcVhCrCSWjAfWHoFu1rodFXH9D986S8pqIfyFdIQ7LOJfzB1akJbZcH7cyW7DUCuzgOcy5QacWUfPomfs2TbbpTaNuZRBWE0pGA+oPQbdqg/EsKp+/oXtnSR0tdfkX0hWmh2WcB5CHsQ5qeZRXro9bmS1YagV2MA9zbtCb50XUPPoJqb5Nzig71Dhuby4/UME6sG0pnNlZc83LmmRYhgEAAA==') format('woff2'), url('//at.alicdn.com/t/font_1226877_cklx5k1y75n.woff?t=1559618831404') format('woff'), url('//at.alicdn.com/t/font_1226877_cklx5k1y75n.ttf?t=1559618831404') format('truetype'),
  /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('//at.alicdn.com/t/font_1226877_cklx5k1y75n.svg?t=1559618831404#iconfont') format('svg');
  /* iOS 4.1- */
}
.icon {
  font-family:"iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.iconzhankai1:before {
  content:"\e617";
}