# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/npm-debug.log*
/yarn-error.log
/yarn.lock

# production
/dist

# nianlun
/nianlun/node_modules
/nianlun/npm-debug.log*
/nianlun/yarn-error.log
/nianlun/yarn.lock
/nianlun/dist


# misc
.DS_Store
.idea
.temp
.gitignore

